p, a, h1, h2, h3, h4, h5, h6, ol, ul {
  line-height: 1.7;
}

a { color: $tertiary-accent; }
a:hover, a:focus, a:active, a:visited {
  color: $tertiary-accent;
  text-decoration: none !important;
}
a.link-white { color: $white; }
a.link-purple { color: $primary-accent-dark; }
a.link-black { color: black; }
a.link-bold { font-weight: bold; }
a.link-button {
  &:visited, &:active, &:hover, &:focus {
    color: $white;
  }
}

%text {
  font-size: $font-size-large;
  line-height: 1.89;
  @media (max-width: $screen-md-max) {
    font-size: $font-size-base;
  }
}

.paragraph {
  @extend %text;
}

.text-bold {
  font-weight: bold;
}

%section-heading {
  color: black;
  font-family: $family-muli-bold;
  font-size: $font-size-xxl + 3px;
  text-transform: uppercase;
  margin-bottom: 16px;
  line-height: 1.6;
  @media (max-width: $screen-md-max) {
    font-size: $font-size-larger + 4px;
  }
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-large + 2px;
    margin-bottom: 8px; 
  }
}
.section-heading {
  @extend %section-heading;
}

%section-desc {
  color: black;
  font-size: $font-size-larger;
  font-weight: normal;
  line-height: 1.67;
  letter-spacing: normal;
  margin-bottom: 0.5em;
  @media (max-width: $screen-md-max) {
    font-size: $font-size-large - 2px;
  }
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-large - 2px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-base;
  }
}
.section-desc {
  @extend %section-desc;
}
.section-desc-light {
  color: $white;
}
.section-desc-bold {
  font-family: $family-muli-bold;
  // font-weight: bold;
}

.footer-heading {
  font-size: $font-size-larger;
}
.footer-desc {
  font-size: $font-size-large;
}

%content-heading {
  font-family: $family-muli-bold;
  font-size: $font-size-larger;
  @media (max-width: $screen-md-max) {
    font-size: $font-size-large;
  }
}
.content-heading {
  @extend %content-heading;
}

.lined-section-title {
  font-size: $font-size-large + 2px;
  font-weight: bold;
  @include flex(row, flex-start, center);
  &::after {
    content: '';
    display: inline-block;
    background-color: $gray;
    height: 0.1rem;
    flex-grow: 1;
    margin-left: 1rem;
  }
  @media (max-width: $screen-sm-max) {
    font-size: $font-size-large;
  }
}

.text-bold { font-weight: bold; }
.text-gray { color: $gray; }
.text-white { color: $white; }

// upper/lower case modifiers
.not-uppercase { text-transform: none !important; }
